<div>
	<h3>Please enter your email ID:</h3>
	 <form name="forgotPassword" ng-submit="sendPassword()" role="form">
	 <div class="form-group" ng-class="{ 'has-error': forgotPassword.username.$dirty && forgotPassword.username.$error.required }">
            <label for="username">Email ID</label>
            <input type="email" name="username" id="username" class="form-control" ng-model="user.username" required ng-minlength="5" ng-maxlength="50"/>
            <span ng-show="forgotPassword.username.$dirty && forgotPassword.username.$error.required" class="help-block">Username is required.</span>
            <span ng-show="forgotPassword.username.$invalid && !forgotPassword.username.$pristine" class="help-block">Enter a valid email.</span>
            <span ng-show="forgotPassword.username.$error.minlength" class="help-block">Email is too short.</span>
            <span ng-show="forgotPassword.username.$error.maxlength" class="help-block">Email is too long. It should be less than 50 characters</span>
       		<button type="submit" ng-disabled="forgotPassword.$invalid" class="btn btn-primary">Send me the password</button>
        </div>
     </form>
</div>