<div>
	<p class="lead">
		Files Uploaded. <br> Copy the below links to your clipboard.
	</p>

	<div class="form-group">
		<label for="view">View Link</label>
		<textarea class="form-control" rows="5" id="view" ng-model="view"></textarea>
	</div>
	<div class="form-group">
		<label for="forum">Forum Code:</label>
		<textarea class="form-control" rows="5" id="forum" ng-model="forum"></textarea>
	</div>
	<div class="form-group">
		<label for="htmlcode">HTML code :</label>
		<textarea class="form-control" rows="5" id="htmlcode"
			ng-model="htmlcode"></textarea>
	</div>
</div>