<div>
	<form name="resetPassword" ng-submit="resetMyPassword()" role="form">
		<div class="form-group"
			ng-class="{ 'has-error': resetPassword.password.$dirty && resetPassword.password.$error.required }">
			<label for="password">Enter new password: </label> <input
				type="password" name="password" id="password" class="form-control"
				ng-model="user.password" equals="{{user.confirmPassword}}" required
				ng-minlength="8" ng-maxlength="20" /> <span
				ng-show="resetPassword.password.$dirty && resetPassword.password.$error.required"
				class="help-block">Password is required.</span> <span
				ng-show="resetPassword.password.$error.minlength" class="help-block">Password
				is too short.</span> <span
				ng-show="resetPassword.password.$error.maxlength" class="help-block">Password
				is too long. It should be less than 20 characters.</span>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': resetPassword.confirmPassword.$dirty && resetPassword.password.$error.required }">
			<label for="password">Confirm new password: </label> <input
				type="password" name="confirmPassword" id="confirmPassword"
				class="form-control" ng-model="user.confirmPassword"
				equals="{{user.password}}" required /> <span
				ng-show="resetPassword.confirmPassword.$dirty && resetPassword.confirmPassword.$error.required"
				class="help-block">Passwords don't match.</span>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="resetPassword.$invalid"
				class="btn btn-primary">Reset Password</button>
		</div>

	</form>
</div>