 body                          { padding-top:50px; }
#content-views                { position:relative; }
.ng-enter, .ng-leave          { width:100%; position:absolute; }
.ng-enter                     { 
-webkit-animation:zoomInDown 1.2s both ease-in; 
-moz-animation:zoomInDown 1.2s both ease-in; 
animation:zoomInDown 1.2s both ease-in; 
 }
.ng-leave                     { 
-webkit-animation:zoomOutDown 0.5s both ease-in; 
-moz-animation:zoomOutDown 0.5s both ease-in; 
animation:zoomOutDown 0.5s both ease-in; 
}
main          {
   padding-top:30px; 
 }
 
/* HEADER 
 ===================== */
 header .navbar    { 
   border-radius:0;
 }
 /* ANIMATIONS
2 ====================== */
 .spinner {
   animation:spin 1s infinite;
   -webkit-animation:spin 1s infinite;
   -moz-animation:spin 1s infinite;
 }
 
 @keyframes spin {
   from  { transform:rotate(0deg); }
   to    { transform:rotate(360deg); }
 }
 
 @-webkit-keyframes spin {
   from  { -webkit-transform:rotate(0deg); }
   to    { -webkit-transform:rotate(360deg); }
 }
 
 @-moz-keyframes spin {
   from  { -moz-transform:rotate(0deg); }  
   to    { -moz-transform:rotate(360deg); }
 }

/* IMAGE UPLOAD
 ===================== */
.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 70%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
}
.dragover {
    border: 5px dashed blue;
}
.image-display{
    width: 30%;
    margin: 10px 5px 10px 5px;
}